/* General Styles */
body {
    
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Fixed background image */
    font-family: 'Monaco', monospace;
    font-size: 17px;
    color: #FFC0CB;
    background-color: #d4ebff;
    
    margin: 0;
    padding: 0;
}

.h2{
    font-size: 23px;
    font-style:bold;
    font-family: 'Monaco', monospace;
    color:#898285 ;
    font-weight: bold;
}

.container {
    font-family: 'Monaco', monospace;
    font-size: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}



.p-container {
    
    color: #555;
    background: linear-gradient(to right, #FFE4E1, #FFC0CB); /* Light pink to pink gradient */
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px; /* Add space above the container */
    padding-bottom: 20px; 
    border-radius: 15px;
    
}

/* Navbar Styles */
.navbar {
    height: 60px; 
    padding: 20px ;
    color:#FFC0CB;
    
    background: linear-gradient(to right, #FFE4E1, #FFC0CB); /* Light pink to pink gradient */
    
    
    border-radius: 15px;
    
}

.navbar-brand {
    font-weight: light;
}

.navbar-nav .nav-link {
    color: #F08080;
    margin-right: 10px;
    font-size: 16px;
}

.navbar-nav .nav-link:hover {
    color: #FFB6C1;
}

.navbar-nav .nav-item:nth-child(1) .nav-link {

    color: #F08080;
}

/* Footer Navbar Styles */
.footer-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


.navbar-brand .website-name {
    color: #fa7878; 
}

.navbar-brand.mb-0.h1 {
    color: #F08080; 
}


/* Contact Form Styles */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group textarea {
    height: 150px;
}

.form-group input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #555;
}
